<h1>Stupid Coaching</h1>
<div class="message-div">
  <h2 class="message"><%= @message %></h2>
  <h3 class="messenger">- You</h3>
</div>

<div class="answer-div">
  <h2 class="message"><%= @answer %></h2>
  <h3 class="messenger">- Your Coach</h3>
</div>

<%= link_to 'Ask a new question', ask_path %>
